<%- include("partials/head", { title: "Computer Hardware" }) %> <!--This inserts title into the page.-->

<%- include("partials/nav", { currentPage: "home" }) %> <!--This inserts navigation into the page.-->

<main>
    <section class="intro">
        <h2>What is Computer Hardware?</h2>

        <img src="/img/desktop.png" alt="Computer Hardware">

        <p>
            Computer hardware means the physical parts that make up a computer system.
            These are the pieces you can actually handle. For example, the processor,
            memory, storage drive, keyboard, mouse, and monitor are all hardware you
            can see and touch. Hardware and software work together so computers can
            process data and store information. They also help computers complete
            different tasks.
        </p>

        <p>
            It’s important to understand computer hardware because each part has its
            own job. Some parts help the computer run faster, some store information,
            and others let you interact with the computer.
        </p>
    </section>

    <section class="info-box">
        <h3>Did You Know?</h3>

        <p>
            A computer needs more than just hardware to work. It also requires
            software, like an operating system, to give the hardware instructions.
        </p>
    </section>
</main>

<section class="content">
    <h3>Sources</h3>

    <ul>
        <li>
            <a href="https://www.lifewire.com/computer-hardware-8763515"
                target="_blank">
                Lifewire – A Beginner's Guide to Computer Hardware
            </a>
        </li>
    </ul>
</section>

<%- include("partials/footer") %> <!--This inserts footer into the page.-->